<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    {% if title %}
    <title>{{ title }} - LagmeMC}</title>
    {% else %}
    <title>LagmeMC</title>
    {% endif %}
  </head>
  <body>
    {% if nav_links %}
    <nav class="nav navbar-expand-lg navbar-light bg-light nav-pills">
      <div class="container-fluid">
        <ul class="navbar-nav">
      {% for nav_link in nav_links() %}
        <li class="nav-item">
        {% set extra_classes = nav_link['classes'] or [] %}
        {% if request.endpoint == nav_link['endpoint'] %}
        <a class="nav-link active" aria-current="page" href="#">{{ nav_link['fullname'] }}</a>
        {% else %}
        <a class="nav-link" href="{{ nav_link['url'] }}">{{ nav_link['fullname'] }}</a>
        {% endif %}
        </li>
      {% endfor %}
        </ul>
      </div>
    </nav>
    {% endif %}
    <div class="container">
    {% with messages = get_flashed_messages(category_filter=["message"]) %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
  
    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

  </body>
</html>
