{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<div class="container">
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.new_password.label(class_="form-label") }}
      {{ form.new_password(class_="form-control") }}
      {% for error in form.new_password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="mb-3">
      {{ form.new_password_2.label(class_="form-label") }}
      {{ form.new_password_2(class_="form-control") }}
      {% for error in form.new_password_2.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    {{ form.submit(class_="btn btn-primary") }}
  </form>
</div>
{% endblock %}
