<!doctype html>
<html lang="en">
  <head>
    <title>LagmeMC redirect</title>
  </head>
  <body>
    <p>You will be redirected in 3 seconds</p>
    <p>Click <a href='{{ uri }}'>here</a> to proceed manually </p>
    <script>var timer = setTimeout(function() {window.location='{{ uri }}'}, 3000);</script>
  </body>
</html>
