{% extends "base.html" %}

{% block content %}
  <div class="container-sm">
    <h1>Login</h1>
    <form method="post">
    {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.username.label(class_="form-label") }}
        {{ form.username(class_="form-control") }}
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{ form.password.label(class_="form-label") }}
        {{ form.password(class_="form-control") }}
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      {{ form.submit(class_="btn btn-primary") }}
      <a class="btn btn-primary" href="https://account.ely.by/oauth2/v1?client_id={{ config['ELYBY_CLIENT_ID'] }}&redirect_uri={{ config['REDIRECT_URI'] }}&response_type=code&scope=account_info" role="button">Login via Elyby</a>
      <!-- <a class="btn btn-primary" href="https://dev.account.ely.by/oauth2/v1?client_id={{ config['ELYBY_CLIENT_ID'] }}&redirect_uri={{ config['REDIRECT_URI'] }}&response_type=code&scope=account_info" role="button">Login via Elyby</a> -->
    </form>
  </div>
{% endblock %}
