{% extends "base.html" %}

{% block content %}
    <h1>Profile</h1>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th scope="row">Username</th>
          <td>{{ current_user.username }}</td>
        </tr>
        <tr>
            <th scope="row">UUID</th>
            <td>{{ current_user.uuid }}</td>
        </tr>
        <tr>
            <th scope="row">Active</th>
            <td>{{ current_user.active }}</td>
        </tr>
        <tr>
            <th scope="row">Valid Password </th>
            {% set pw_valid, pw_reason = current_user.check_password_valid() %}
            {% if pw_valid %}
            <td>Yes</td>
            {% else %}
            <td>No, reason: {{ pw_reason }}</td>
            {% endif %}
        </tr>
      </tbody>
    </table>
    <a class="btn btn-primary" href="{{ url_for('.change_password') }}" role="button">Change Password</a>
    <br>
    {% if current_user.ely_data %}
    <h3>Has Ely account bound</h3>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th scope="row">Profile</th>
          <td><a href="{{ current_user.ely_data.profile_link }}">{{ current_user.ely_data.username }}</a></td>
        </tr>
        <tr>
          <th scope="row">Profile</th>
          <td>{{ current_user.ely_data.last_updated }}</td>
        </tr>
      </tbody>
    </table>
    {% else %}
    <h3>Does not have Ely account bound</h3>
    {% endif %}

{% endblock %}
