{% extends "base.html" %}

{% block content %}
  <h1>Registering from Ely</h1>
  <h3>You are goint to register as {{ username }}</h3>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <th scope="row">Profile</th>
        <td><a href="{{ profile_link }}">{{ username }}</a></td>
      </tr>
      <tr>
        <th scope="row">Active</th>
        <td><b>{{ active }}</b></td>
      </tr>
    </tbody>
  </table>
  <form method="post">
  {{ form.hidden_tag() }}
    {{ form.submit(class_="btn btn-success") }}
  </form>
{% endblock %}
